.mainContainer {
  display: flex;
  padding: 2em 5em;
  height: 100vh;
  width: 100vw;
  gap: 15em;
}

.mainContainer > div:first-child {
  display: flex;
  justify-content: center;
  width: 30%;
}

.logo {
  height: 2em;
}

.priorityContainer {
  display: flex;
  gap: 1%;
}
.priorityContainer > p {
  text-transform: uppercase;
}
.checklist_list {
  border: 1px solid #9f9f9f;
  border-radius: 0.5em;
  display: flex;
  gap: 0.4em;
  padding: 0.2em 0.4em;
  width: 13em;
  margin-top: 1%;
}
.checkListContainer {
  width: 80%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.checkListCount > div > ul {
  height: 20em;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.dueDateBtn {
  font-size: 0.6rem;
  padding: 0.5em 1em;
  font-weight: 600;
  border: none;
  border-radius: 1em;
}
.status_change_btn > div {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .mainContainer {
    gap: 1em;
  }
}

@media screen and (max-width: 715px) {
  .mainContainer {
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
  }
  .mainContainer > div:first-child {
    width: 30%;
  }
  .checkListContainer {
    height: auto;
  }
}
@media screen and (max-width: 543px) {
  .mainContainer > div:first-child {
    width: 10em;
  }
}
