.analytics_container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 6em;
}
.analytics {
  display: flex;
  gap: 1em;
}

.analytics > div {
  width: 50%;
  background-color: #4391ed1a;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.analytics h4 {
  display: flex;
  gap: 0.8em;
}
.analytics > div > div {
  display: flex;
  justify-content: space-between;
}
