.formContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 6em;
}
.formContainer > form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.inputContainer {
  width: 25em;
  border: 1px solid gray;
  display: flex;
  padding: 0.2em;
  border-radius: 0.8em;
  position: relative;
}

.inputContainer > input {
  border: none;
  width: 100%;
  outline: none;
  font-size: 1.1rem;
}
.passwordContainer {
  position: relative;
}

.passwordContainer > img {
  position: absolute;
  left: 22em;
  bottom: 0.3em;
  cursor: pointer;
}

.buttonContainer {
  width: 25em;
  display: flex;
  gap: 1.2em;
  flex-direction: column;
  align-items: center;
  margin-top: 1.8em;
}

.buttonContainer > button {
  padding: 0.5em 0em;
  font-size: 1.1rem;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  background-color: #16a3b8;
  color: #fff;
  display: flex;
  justify-content: center;
}

.buttonContainer > * {
  width: 100%;
  text-align: center;
}
